body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #E0E0E0;
}

#app {
  margin: 0 auto;
}

.app-container {
  margin: 0 auto;
}

.app-card {
  width: 100%;
}

.app-card-title {
  background-color: #607D8B;
  color: #FFFFFF;
}
